.navbar{
    display: flex;
    justify-content: space-between;
}

.first_section{
    display: flex;
    justify-content: space-evenly;
}

.second_section{
    display: flex;
    justify-content: space-between;
    background-color: #E1EBE6;
}

.row{
    display: flex;
    justify-content: space-around;
}

.fourth_section{
    display: flex;
    justify-content: space-between;
    background-color: #E1EBE6;
}

.burger{
    border:solid 1px black;
    border-radius: 6px;
    padding: 10px;
}

.footer{
    background-color: #E1EBE6;
}

.fifth_section{
    background-color: #F6B400;
}