.navbar{
    display: flex;
    justify-content: space-between;
}

.first_section{
    display: flex;
    justify-content: space-evenly;
}

.second_section{
    display: flex;
    justify-content: space-between;
}

.row{
    display: flex;
    justify-content: space-around;
}

.fourth_section{
    display: flex;
    justify-content: space-between;
}
